<div class="container-fluid col-md-6">
    <br />
    <!--Template Driven Form or Model Driven Form?-->
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
        <h2 class="heading"> {{this.title}} </h2>
        <ul>
            <li>
                <div class="row">
                    <div class="col-md-6">
                        <input
                                [(ngModel)]="form.firstName"
                                (change)="keydown('firstName')"
                                name="firstName"
                                type="text"
                                class="form-control"
                                id="firstName"
                                formControlName="firstName"
                                placeholder="First Name"
                                required
                        />
                    </div>
                    <div class="alert" *ngIf="this.validationErrors.firstName !== ''">
                        <span class="closebtn" (click)="this.validationErrors.firstName = ''">&times;</span>
                        <strong>Error!</strong> {{ validationErrors.firstName }}
                    </div>
                </div>
            </li>
            <li>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input
                                [(ngModel)]="form.lastName"
                                (change)="keydown('lastName')"
                                name="lastName"
                                type="text"
                                class="form-control"
                                id="lastName"
                                formControlName="lastName"
                                placeholder="Last Name"
                                required
                        />
                    </div>
                    <div class="alert" *ngIf="this.validationErrors.lastName !== ''">
                        <span class="closebtn" (click)="this.validationErrors.lastName = ''">&times;</span>
                        <strong>Error!</strong> {{ validationErrors.lastName }}
                    </div>
                </div>
            </li>
            <li>
                <br />
                <div class="row">
                <div class="col-md-6">
                    <input
                            [(ngModel)]="form.jobTitle"
                            (change)="keydown('jobTitle')"
                            name="jobTitle"
                            type="text"
                            class="form-control"
                            id="jobTitle"
                            formControlName="jobTitle"
                            placeholder="Job Title"
                            required
                    />
                </div>
                <div class="alert" *ngIf="this.validationErrors.jobTitle !== ''">
                    <span class="closebtn" (click)="this.validationErrors.jobTitle = ''">&times;</span>
                    <strong>Error!</strong> {{ validationErrors.jobTitle }}
                </div>
                </div>
            </li>
            <li>
                <!--We may have to make a service call to get this list-->
                <br/>
                <div class="row">
                <div class="col-md-6">
                    <select
                            [(ngModel)]="form.team"
                            (change)="keydown('team')"
                            name="team"
                            id="team"
                            formControlName="team"
                            class="custom-select"
                            required>
                        <option value="" disabled selected>Select your Team</option>
                        <option *ngFor="let team of teams">{{ team.teamName }}</option>
                    </select>
                </div>
                    <div class="alert" *ngIf="this.validationErrors.team !== ''">
                        <span class="closebtn" (click)="this.validationErrors.team = ''">&times;</span>
                        <strong>Error!</strong> {{ validationErrors.team }}
                    </div>
                </div>
            </li>
            <li>
                <br />
                <div class="row">
                <div class=" col-md-6">
                        <label id="activeStatus" class="md-check lead">
                            <input [(ngModel)]="form.status" (change)="keydown('status')"  formControlName="status" type="radio" value="Active" name="status" /> Active
                        </label>
                        <label class="md-check lead">
                            <input [(ngModel)]="form.status" (change)="keydown('status')"  formControlName="status" type="radio" value="Inactive" name="status" /> Inactive
                        </label>
                </div>
                    <div class="alert" *ngIf="this.validationErrors.status !== ''">
                        <span class="closebtn" (click)="this.validationErrors.status = ''">&times;</span>
                        <strong>Error!</strong> {{ validationErrors.status }}
                    </div>
                </div>
            </li>
            <li>
                <div class="row>">
                    <!--Disable if form is invalid-->
                    <button (click)="navigateBack()" class="btn btn-secondary">
                        Cancel
                    </button>
                <button *ngIf="memberForm.valid" type="submit" class="btn btn-primary" style="margin-left:10px;">
                    {{ this.saveText }}
                </button>
                    <ng-template #tipContent>Please fill out form before saving!</ng-template>
                    <span [ngbTooltip]="tipContent">
                    <button *ngIf="!memberForm.valid" type="submit" class="btn btn-primary" disabled style="margin-left:10px;">
                        {{ this.saveText }}
                    </button>
                    </span>
                </div>
            </li>
        </ul>
    </form>
</div>
