#activeStatus {
    margin-right: 10px;
}

.errorSpacing {
    margin-top: 50px;
}

ul, li {
    list-style-type: none !important;
    display: inline;
}

h2.heading {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    color: grey;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.form-alert-danger {
    height: 40px !important;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 16px !important;
}

.alert {
    padding: 5px;
    margin: 0px !important;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
::ng-deep .tooltip-inner {
    background-color: grey;
}